

* { margin:0; padding:0; box-sizing:border-box; }


header {
	float: left;
}

nav {
	display: inline-block;
	background-color: orange;
	text-align: center;
	width: 100%;

}
nav a {
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: black;
}

img {
	width: 300px;
}

h1 {
	font-family: 'Gentium Book Basic', serif;
}

h2 {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Gentium Book Basic', serif;
	line-height: 1.5;
	width: 1000px;
	padding-bottom: 20px;
}

#two_column section{
	width: 50%;
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 10px;
	float: left;
}

.hero {
	clear: both;
	background-image: url(images/handstitched.JPG);
	padding: 20px;
}

.utility-nav img {
	width: 20px;
	position: absolute;
}

.content {
	clear: both;
	background: yellow;
}

.content img {
	float: left;
}

.content h2 {
	padding: 40px 0px;
}

.products {
	clear: both;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content:" ";
	clear: both;
	height: 0;
}

.social {
	clear: both;
}





